<%- include("header", {title: title}); %>
<article class="">
<h1>Om Cdoff</h1>

<p>Jag som är ansvarig för denna webbplats heter Lars Persson och studerar webbprogrammering
    på BTH.</p>
<p>Sidan renderas av webbserver Node.js med applikationsservern Express.js, templatemotorn EJS
    och relationsdatabasen MySQL.</p>
<p>Programeringsspråk som används är HTML5, CSS, JavaScript och SQL</p>



</article>
<%- include("footer"); %>
