<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel="icon" href="/favicon.ico">

<header>
<h2>CdOff - retrobutiken som alltid är på!</h2>
    <nav>
        <a href="/eshop/index">Index</a> |
        <a href="/eshop/about">Om</a> |
        <a href="/eshop/category">Kategorier</a> |
        <a href="/eshop/product">Produkter</a> |
        <a href="/eshop/product-create">Ny Produkt</a> |
        <a href="/eshop/customer">Kunder</a> |
        <a href="/eshop/customer-elect">Ny order</a> |
        <a href="/eshop/product-elect">Orderregister</a> |
        <a href="/eshop/log">Logg</a>
    </nav>
</header>
