<%- include("header", {title: title}); %>
<article class="">
<h1>V채lkommen till CdOff</h1>

<h3>H채r hittar du begagnade CD och 채ldre vinyl-skivor till fantastiska priser.</h3>

<!-- <ul>
    <li><a href="category">Kategorier</a></li>
    <li><a href="product">Produkter(visa, redigera och radera)</a></li>
    <li><a href="product-create">L채gg till ny produkt</a></li>
</ul> -->
</article>
<%- include("footer"); %>
